.vagas {
    font-family: var(--fonte-do-texto);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em;

    
}

.vagas__abertas {
    border: solid 5px var(--caixa);
    background-color: var(--caixa);
    border-radius: 16px;   
    color: var(--vermelho);
    font-size: 14px;
    padding: 4px 12px;
    

}

.vagas__talento {
    font-weight:bold;
    font-size: 36px;
    margin-top: 0.5em;
}

.vagas__remoto {
    color: var(--cinza);
    font-size: 20px;
    margin-top: 1em;

}

.vagas__imagem {
    margin-top: 5em;
}