.descricao {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2em 0 15em 1em;
    
    
}

.descricao__titulo {
    text-align: left;
    padding: 1em 2em;
    margin: 2em 4em;
}

.descricao__numero {
    color: var(--vermelho);
    font-family: var(--fonte-do-texto);
    font-size: 72px;
    font-weight: 600;
}

.descricao__p {
    font-family: var(--fonte-do-texto);
    font-size: 18px;
    font-weight: bold;
    padding: 1em 0;   
}

.descricao__texto {
    color: var(--cinza);
    font-family: var(--fonte-do-texto);
       
}